@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
:root {
    --bg-color: #0b0b0b;
    --white-color: #fff;
    --text-color: #f5f5f5;
    --box-color: #171717;
    --placeholder-color: #545454;
    --btn-hover-color: #102770;
    --black-color: #000;
    --green-color: #438333;
    --purple-color: #8820FD;
    --red-color: #fc2020;
    --blue-color: #1768e3;
    --text-dark-color: #777777;
    --img-bg-color: #31313193;
    --border-color: #4e4e4e;
    --accordion-color: #d7daec;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

ul {
    list-style-type: none;
}

::-webkit-input-placeholder {
    color: var(--placeholder-color) !important
}

.m-bottom-60 {
    margin-bottom: 60px !important;
}

.m-top-60 {
    margin-top: 60px !important;
}

.m-top-40{
    margin-top: 40px !important;
}

.m-top-100 {
    margin-top: 100px !important;
}

.p-top-100 {
    padding-top: 100px !important;
}

.p-bottom-60 {
    padding-bottom: 60px !important;
}

.badge {
    font-size: 1.6rem;
    font-weight: 500 !important;
    background-color: var(--box-color);
}

.badge--popular {
    background-color: var(--purple-color) !important;
}

.badge--hot {
    background-color: var(--red-color) !important;
}

.badge--neworder {
    background-color: var(--blue-color) !important;
}

.btn-black {
    color: var(--white-color) !important;
    background-color: var(--black-color) !important;
}

.btn-checkbox {
    border: 1px solid var(--white-color) !important;
    font-size: 1.6rem;
    padding: 5px 12px;
    color: var(--white-color) !important;
}

.btn-radio {
    border: 1px solid var(--white-color) !important;
    font-size: 1.6rem;
    padding: 5px 12px;
    color: var(--white-color) !important;
}

.btn-white {
    font-size: 1.6rem;
    background-color: var(--white-color);
}

.btn-white:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.btn-blue{
    color: var(--white-color);
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
}

.btn-blue:hover{
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
    opacity: 0.8;
}

.btn.disabled{
    background-color: var(--white-color);
}

input[type="checkbox"]:checked+.btn-checkbox {
    color: var(--white-color) !important;
    background-color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}

input[type="radio"]:checked+.btn-radio {
    color: var(--white-color) !important;
    background-color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}

.is-invalid~.invalid-feedback{
    display: block;
    text-align: start;
}

.input-icon.is-invalid {
    color: var(--bs-form-invalid-color) !important;
}

/* .btn-checkbox:hover, */
.btn-black:hover {
    opacity: 0.8;
}

main {
    background-color: var(--bg-color);
}

body {
    background-color: var(--bg-color);
}

/* Animation */
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

